@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/static/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/static/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/static/Poppins-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/static/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Playfair_Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair_Display';
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair_Display', serif;
    font-weight: 700;
}

body {
    font-weight: 400;
}

strong, b {
    font-weight: 700;
}
@import 'tailwindcss';