{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Notanizer</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <link rel="stylesheet" href="{% static 'output.css' %}" />
        <link rel="icon" href="{% static 'Logo/N.jpg' %}" type="image/JPEG">
    </head>
    <body class="bg-slate-50 m-0">
        <div class="flex min-h-screen w-screen">
            <!--========== Sidebar ==========-->
            <!-- Top -->
            <aside class="bg-slate-100 w-72 border-r border-gray-200 flex flex-col">
                <div class="flex-1 overflow-y-auto min-h-0 p-4">
                    <img src="{% static 'Logo/N_slate1.jpg' %}" alt="Notanizer" class="w-42 h-42">

                    <!-- Searchbar -->
                    <div class="relative mb-4">
                        <form method="GET" action="{% url 'search' %}">
                            <button type="submit" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-600">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    fill="none" 
                                    viewBox="0 0 24 24" 
                                    stroke-width="1.5" 
                                    stroke="currentColor" 
                                    class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400 pointer-events-none">
                                    <path stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </button>
                            <input type="text" name="q" value="{{ query }}" placeholder="Search" class="w-full px-12 py-1 pl-12 pr-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-400">
                        </form>
                    </div>

                    <!--My courses-->
                    <div class="flex items-center justify-between mt-10 w-full mb-4">
                        <p class="text-xl font-semi-bold justify-start">My Courses</p>
                        <a href="{% url 'create_course' %}" class="bg-blue-400 hover:bg-blue-500 text-black rounded-lg block text-center font-medium px-4 py-1 ml-auto"> 
                            + New 
                        </a>
                    </div>

                    <!-- Course List(Tree structure) -->
                    <div class="mt-2 justify-between overflow-y-auto">
                        {% for course in courses %}
                            <input type="checkbox" id="course-{{ course.id }}" class="hidden" />
                            <label for="course-{{ course.id }}" class="course-header flex items-center justify-between py-1 rounded-lg">
                                <div class="flex flex-1 items-center gap-6 rounded-lg border border-gray-300 hover:bg-gray-200 hover:border-2 hover:border-blue-500 hover:font-bold px-3">
                                    <span class="toggle text-gray-400"></span>
                                    <a href="{% url 'course_detail' course.id %}" class="text-sm text-gray-900 hover:text-blue-700">
                                        {{ course.title }}
                                    </a>
                                    <a href="{% url 'create_note' course.id %}" class="ml-auto p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                        </svg>
                                    </a>
                                </div>
                            </label>

                            <!-- Notes -->
                            <div class="notes" id="notes-{{ course.id }}">
                                {% for note in course.notes.all %}
                                    <a href="{% url 'note_detail' note.id %}" class="block rounded-lg px-10 py-1 text-xs text-gray-700 hover:text-blue-700 border-transparent hover:border-blue-600">
                                        {{ note.title }}
                                    </a>
                                {% empty %}
                                <p class="px-6 text-xs text-gray-400">No notes yet</p>
                                {% endfor %}
                            </div>
                        {% empty %}
                        <p class="text-center text-gray-400 py-8">
                            No courses yet
                        </p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Bottom -->
                <div class="border-t border-gray-200 p-4 mt-auto">
                    <div class="flex mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        <span class="ml-4 block text-gray-700">
                            {{ request.user.username }}
                        </span>
                    </div>

                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="bg-transparent border-none text-red-600 hover:text-red-700 p-0">
                            Logout
                        </button>
                    </form>
                </div>
            </aside>

            <!--========== Main content ==========-->
            <main id="main-content" class="relative flex-1 bg-slate-50 min-w-0 p-8">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>